{
  "bitwise": true,
  "camelcase": true,
  "curly": true,
  "eqeqeq": true,
  "es3": false,
  "forin": true,
  "immed": true,
  "indent": 2,
  "latedef": true,
  "newcap": true,
  "noarg": true,
  "noempty": true,
  "nonew": true,
  "quotmark": "double",
  "undef": true,
  "unused": true,
  "trailing": true,
  "onevar": true,
  "globals": { "Backbone": true, "app": true, "_": true, "confirm": true, "alert": true, "indexedDB": true, "IDBKeyRange": true , "MegaPixImage": true, "FastClick": true, "MediaStreamTrack": true, "qrcode": true },
  "jquery": true,
  "browser": true
}